* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #2C3E50;
    margin-left: 20px;
}

.ballon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

main {
    margin-bottom: 20px;
}

main h2 {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}

main p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field, .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.field i, .input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #aaa;
}

.field input, .input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Assurer un padding à gauche pour les icônes */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.field input::placeholder, .input-group input::placeholder {
    color: #aaa;
}

button {
    background: linear-gradient(135deg, #00B3BF, #f1c1d1, #FF0000);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

button i {
    margin-right: 10px;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}

a {
    color: #00B3BF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF0000;
}