* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.logo {
    font-size: 28px;
    color: #2C3E50;
    position: absolute;
    top: 15px;
    left: 20px;
}

.ballon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
}

main {
    margin-top: 80px;
}

h2, h3 {
    color: #2C3E50;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 60%;
    margin-bottom: 15px;
    position: relative;
}

.field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.field i {
    position: absolute;
    top: 38px;
    left: 10px;
    color: #ccc;
}

.field input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button1 {
    background: linear-gradient(135deg, #00B3BF, #f1c1d1, #FF0000);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.button1:hover {
    opacity: 0.9;
}

.error-messages {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.error-messages ul {
    list-style: none;
    padding: 0;
}

.error-messages li {
    margin-bottom: 5px;
}