* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 400px;
    border: 1px solid #00B3BF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 179, 191, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF0099;
}

.ballon {
    width: 50px;
    height: 50px;
}

main {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-messages {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
}

.error-messages ul {
    list-style: none;
}

.field {
    margin-bottom: 15px;
    width: 100%;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button1 {
    background: linear-gradient(135deg, #00B3BF, #f1c1d1, #FF0000);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    opacity: 0.9;
}