* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #2C3E50;
}

.ballon {
    width: 50px;
    height: 50px;
}

h2 {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field label {
    margin-bottom: 5px;
    font-size: 16px;
}

.field input,
.field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.checkbox {
    width: calc(33.333% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.checkbox.selected {
    background-color: #00B3BF;
    color: white;
    border-color: #00B3BF;
}

.checkbox:hover {
    background-color: #e0f7fa;
}

.button {
    background: linear-gradient(135deg, #00B3BF, #f1c1d1, #FF0000);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
}

.button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}