* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-family: 'Anton', sans-serif;
    color: #FF1493; /* Couleur rose */
    margin: 0;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    max-width: 400px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
    position: relative; /* Nécessaire pour le positionnement du menu déroulant */
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block; /* Affiche le menu déroulant lors du survol */
}

.dropdown-content {
    display: none; /* Masque le menu déroulant par défaut */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon span {
    font-size: 24px;
}
