* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-nav {
    display: flex;
    align-items: center;
}

.title-nav h1 {
    color: #2C3E50;
    margin: 0;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.search-bar input {
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon span {
    font-size: 24px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #2C3E50;
}

.tab-menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.tab-menu a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 1rem;
    padding: 5px 10px;
}

.tab-menu a:hover {
    transition: 0.4s;
    color: #ff0000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #fff;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item .video-container {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.grid-item .video-container video {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item .info {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
}

.grid-item:hover .info {
    max-height: 500px; /* Adjust according to the expected content height */
    opacity: 1;
    margin-top: 10px;
}

.grid-item .info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.grid-item .info p {
    margin: 5px 0;
}

.grid-item .info a {
    color: #007bff;
    text-decoration: underline;
    margin-top: 10px;
}

.grid-item .info a:hover {
    color: #0056b3;
}
