{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/create-training.css'}">
    <title>Créer ma séance</title>
</head>
<body>
    <div class="container">
        <h1>Je crée ma séance</h1>
    </div>
    <img class="handballeur" src="{% static 'main/handballeur-trait.png' %}" alt="handballeur">
    <section class="steps-section">
    <div class="step step-1">
        <div class="step-number step-number1">1</div>
        <p>Choisis le thème de ta séance adapté à ton collectif.</p>
    </div>
    <div class="step step-2">
        <div class="step-number step-number2">2</div>
        <p>Aide-toi du chatbot ou rends-toi directement dans la bibliothèque pour choisir tes exercices.</p>
    </div>
    <div class="step step-3">
        <div class="step-number step-number3">3</div>
        <p>Télécharge ta séance détaillée pour organiser au mieux ton entraînement.</p>
    </div>
</section>
</body>
</html>

