{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un Profil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/create_profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo">TakTik</h1>
            <img src="{% static 'main/ballon.png' %}" alt="Logo" class="ballon">
        </header>
        <main>
            <h2>Créer un nouveau profil</h2>
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label for="id_name"><i class="fas fa-user"></i> Nom du profil :</label>
                    {{ form.name }}
                </div>
                <div class="field">
                    <label for="id_categories"><i class="fas fa-users"></i> Catégorie entraînée (plusieurs choix possibles) :</label>
                    <div class="checkbox-group">
                        {{ form.categories }}
                    </div>
                </div>
                <div class="field">
                    <label for="id_profile_image"><i class="fas fa-image"></i> Photo de profil (facultatif) :</label>
                    {{ form.profile_image }}
                </div>
                <button class="button" type="submit">Créer le Profil</button>
            </form>
        </main>
    </div>
</body>
</html>
