{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/home.css' %}">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="title-nav">
                <h1>TakTik</h1>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Que cherchez-vous ?">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="#">Bibliothèque</a></li>
                <li><a href="#">Ressources</a></li>
                <li class="dropdown">
                    <a href="#">Mon Espace</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'settings' %}">Paramètres</a></li>
                        <li><a href="{% url 'club' %}">Espace Club</a></li>
                        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div class="menu-icon">
                <span>&#9776;</span>
            </div>
        </nav>
    </header>
    <div class="profile-selection-section">
        <h1>Qui va s'entraîner aujourd'hui ?</h1>
        <div class="profiles-grid">
            {% for profile in profiles %}
            <div class="profile">
                <a href="{% url 'personal_space' profile.id %}">
                    {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" alt="{{ profile.name }}">
                    {% else %}
                        <i class="fas fa-user-circle default-profile-icon"></i>
                    {% endif %}
                    <p>{{ profile.name }}</p>
                </a>
            </div>
            {% endfor %}
            <div class="profile add-profile">
                <a href="{% url 'create_profile' %}">
                    <i class="fas fa-plus-circle add-profile-icon"></i>
                    <p>Ajouter un profil</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
