{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/library.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="title-nav">
                <h1>TakTik</h1>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Que cherchez-vous ?">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'library' %}">Bibliothèque</a></li>
                <li><a href="#">Ressources</a></li>
                <li class="dropdown">
                    <a href="#">Mon Espace</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'settings' %}">Paramètres</a></li>
                        <li><a href="{% url 'club' %}">Espace Club</a></li>
                        <li><a href="{% url 'favorite_list' %}">Mes Favoris</a></li>
                        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div class="menu-icon">
                <span>&#9776;</span>
            </div>
        </nav>
    </header>
    <div>
        <h1 class="title">BIBLIOTHÈQUE</h1>
    </div>
    <div class="tab-menu">
        <a href="?theme=Tout" {% if current_theme == 'Tout' %}class="active"{% endif %}>TOUT</a>
        <a href="?theme=Echauffement" {% if current_theme == 'Echauffement' %}class="active"{% endif %}>ÉCHAUFFEMENT</a>
        <a href="?theme=Motricite" {% if current_theme == 'Motricite' %}class="active"{% endif %}>MOTRICITÉ</a>
        <a href="?theme=Attaque" {% if current_theme == 'Attaque' %}class="active"{% endif %}>ATTAQUE</a>
        <a href="?theme=Defense" {% if current_theme == 'Defense' %}class="active"{% endif %}>DÉFENSE</a>
        <a href="?theme=Techniques" {% if current_theme == 'Techniques' %}class="active"{% endif %}>TECHNIQUES</a>
        <a href="?theme=Specifique" {% if current_theme == 'Specifique' %}class="active"{% endif %}>SPÉCIFIQUE</a>
    </div>
    <div class="grid-container">
        {% for item in multimedia %}
            <div class="grid-item">
                <div class="video-container">
                    <video src="{{ item.video.url }}" controls></video>
                </div>
                <div class="info">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Catégories: {{ item.categories.all|join:", " }}</p>
                    {% if request.user.is_authenticated %}
                        {% if item in user.favorites.all %}
                            <a href="{% url 'remove_favorite' item.id %}">Supprimer des Favoris</a>
                        {% else %}
                            <a href="{% url 'add_favorite' item.id %}">Ajouter aux Favoris</a>
                        {% endif %}
                    {% endif %}
                    {% if item.other_file %}
                        <a href="{{ item.other_file.url }}">Télécharger le fichier associé</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
