{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/personal_space.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mon Espace</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="title-nav">
                <h1>TakTik</h1>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Que cherchez-vous ?">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'library' %}">Bibliothèque</a></li>
                <li><a href="#">Ressources</a></li>
                <li class="dropdown">
                    <a href="#">Mon Espace</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'settings' %}">Paramètres</a></li>
                        <li><a href="{% url 'club' %}">Espace Club</a></li>
                        <li><a href="{% url 'favorite_list' %}">Mes Favoris</a></li>
                        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div class="menu-icon">
                <span>&#9776;</span>
            </div>
        </nav>
    </header>
    <div class="personal-space">
        <h1>Bienvenue dans votre espace personnel, {{ profile.name }}</h1>
        <p>Créez des séances complètes de A à Z en quelques clics!</p>
        <button type="button"><a href="{% url 'create-training' %}">Je crée ma séance</a></button>

        <div class="sessions">
            <h2>Mes Séances</h2>
            <h3>Séances à venir</h3>
            <div class="sessions-list">
                {% for session in upcoming_sessions %}
                    <div class="session-card">
                        <div class="session-header">
                            <h3>{{ session.title }}</h3>
                            <div class="session-actions">
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <p>Catégorie: {{ session.category.name }}</p>
                        <p>Durée: {{ session.duration }}</p>
                        <p>Intensité: {{ session.intensity }}</p>
                        <p>Date: {{ session.date }}</p>
                        <h4>Exercices :</h4>
                        <ul>
                            {% for exercise in session.exercises.all %}
                                <li>{{ exercise.multimedia.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

            <h3>Séances passées</h3>
            <div class="sessions-list">
                {% for session in past_sessions %}
                    <div class="session-card">
                        <div class="session-header">
                            <h3>{{ session.title }}</h3>
                            <div class="session-actions">
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <p>Catégorie: {{ session.category.name }}</p>
                        <p>Durée: {{ session.duration }}</p>
                        <p>Intensité: {{ session.intensity }}</p>
                        <p>Date: {{ session.date }}</p>
                        <h4>Exercices :</h4>
                        <ul>
                            {% for exercise in session.exercises.all %}
                                <li>{{ exercise.multimedia.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
