{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TakTik - S'identifier</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register/authentification.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo">TakTik</h1>
            <img src="{% static 'main/ballon.png' %}" alt="Logo" class="ballon">
        </header>
        <div class="content">
            <h2>Connectez-vous à votre espace personnel</h2>
            <p>Pas encore inscrit ? Inscrivez-vous dès maintenant via le formulaire d'inscription</p>
        </div>
        <div class="forms">
            <div class="login-form">
                <h3><i class="fas fa-sign-in-alt"></i> Se connecter</h3>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if form_login.errors %}
                        <div class="error-messages">
                            <ul>
                                {% for field in form_login %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form_login.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for field in form_login %}
                        <div class="field">
                            {% if field.name == "username" %}
                                <i class="fas fa-user"></i>
                            {% elif field.name == "password" %}
                                <i class="fas fa-lock"></i>
                            {% endif %}
                            <input autocomplete="off" placeholder="{{ field.label }}" class="input-field" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for error in field.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button class="button1" type="submit"><i class="fas fa-sign-in-alt"></i> Se connecter</button>
                    <a href="{% url 'password_reset' %}" class="button2">Mot de passe oublié ?</a>
                </form>
            </div>
            <div class="register-form">
                <h3><i class="fas fa-user-plus"></i> S'inscrire</h3>
                <form class="form" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% if form_register.errors %}
                        <div class="error-messages">
                            <ul>
                                {% for field in form_register %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form_register.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for field in form_register %}
                        <div class="field">
                            {% if field.name == "username" %}
                                <i class="fas fa-user"></i>
                            {% elif field.name == "email" %}
                                <i class="fas fa-envelope"></i>
                            {% elif field.name == "password1" or field.name == "password2" %}
                                <i class="fas fa-lock"></i>
                            {% endif %}
                            <input autocomplete="off" placeholder="{{ field.label }}" class="input-field" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for error in field.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button class="button1" type="submit"><i class="fas fa-user-plus"></i> S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
