{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Connexion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'register/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo">TakTik</h1>
            <img src="{% static 'main/ballon.png' %}" alt="Logo" class="ballon">
        </header>
        <main>
            <form class="form" method="post">
                {% csrf_token %}
                <p id="heading">Bonjour Coach !</p>
                <p><i>Pas incore inscrit ? <a href="{% url 'signup' %}">Cliquez ici</a> pour vous inscrire !</i></p>
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                {% for field in form %}
                    <div class="field">
                        <i class="fas fa-user"></i>
                        <input autocomplete="off" placeholder="{{ field.label }}" class="input-field" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}">
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="btn">
                    <button class="button1" type="submit">Je me connecte</button>
                </div>
                <a href="{% url 'password_reset' %}" class="button3" target="_blank">Mot de passe oublié ?</a>
            </form>
        </main>
    </div>
</body>
</html>