{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Réinitialisation du mot de passe réussie</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'register/signup.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo">HandBapp</h1>
            <img src="{% static 'main/ballon.png' %}" alt="Logo" class="ballon">
        </header>
        <main>
            <h2>Réinitialisation du mot de passe réussie</h2>
            <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous <a href="{% url 'login' %}">connecter</a> avec votre nouveau mot de passe.</p>
        </main>
        <footer>
        </footer>
    </div>
</body>
</html>
